{% extends 'base.html' %}

{% block about %}
{% load static %}

<head>
    <title>{% block title %} About {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Hi there! I'm Lautaro Boffi</h1>
            <p class="lead">
                I am a Junior Backend developer. I love to learn new technologies and improve my skills every day. 
            </p>
        </div>
    </div>
</div>

<div class="container p-3 mb-2 d-flex gap-3">
    <div class="mt-4 d-flex">
        <div class="me-5">
            <h2 class="display-8">Languages</h2>
            <div class="d-flex flex-wrap gap-2">
                <p class="m-0"><img src="https://skillicons.dev/icons?i=python" title="Python"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=php" title="PHP"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=javascript" title="JS"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=html" title="HTML"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=css" title="CSS"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=mysql" title="MySQL"/></p>
            </div>
        </div>
        <div>
            <h2 class="display-8">Frameworks</h2>
            <div class="d-flex flex-wrap gap-2">
                <p class="m-0"><img src="https://skillicons.dev/icons?i=django" title="Django"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=nodejs" title="Node.js"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=react" title="React"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=vue" title="Vue.js"/></p>
                <p class="m-0"><img src="https://skillicons.dev/icons?i=docker" title="Docker"/></p>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-8">Certificates</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- Python Card -->
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <div class="d-flex align-items-baseline">
                        <h5 class="card-title mb-0 me-2 text-white align-self-baseline">Python</h5>
                        <small class="text-white align-self-baseline">Nov 2023 - Feb 2024</small>
                    </div>
                    <a href="https://pub.coderhouse.com/legacy-certificates/65f781e700c426549d42ceda?lang=es" class="btn btn-light btn-sm custom-btn" target="_blank">View Online</a>
                </div>
                <div class="card-body">
                    <p class="card-text">In this course I learned modules and syntax to create an application. Skills in Class-Based-View, login, register, accounts, CRUD and modelforms.</p>
                    <p class="card-text">In the final project, I developed a blog-style web application using Python in Django Framework. Some key functionalities were customizable user registrations and profiles, authentication and authorization systems, administrative interface to manage content and management in user comments and feedback section.</p>
                </div>
            </div>
        </div>

        <!-- Cybersecurity Card -->
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <div class="d-flex align-items-baseline">
                        <h5 class="card-title mb-0 me-2 text-white align-self-baseline">Cybersecurity</h5>
                        <small class="text-white align-self-baseline">Sep 2023 - Nov 2023</small>
                    </div>
                    <a href="https://pub.coderhouse.com/legacy-certificates/655baa93b1268da1b2fef21a?lang=es" class="btn btn-light btn-sm custom-btn" target="_blank">View Online</a>
                </div>
                <div class="card-body">
                    <p class="card-text">I learned to identify threats and attacks, network security, authentication/authorization techniques, secure development and ethical hacking, vulnerabilities, understanding threats and maintaining a secure organization.</p>
                    <p class="card-text">The final project is about a cybersecurity consultancy performed for a fictitious company after a massive file encryption incident. Includes risk assessment, implementation of solutions such as EPP, EDR, firewalls and honeypots, as well as staff training and access control to strengthen network security and protect against future threats.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
