{% extends 'base.html' %}

{% block index %}
{% load static %}
<head>
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<!-- Hero Section -->
<div class="container">
    <div class="hero-content">
        <h1 class="gradient-text animate-fade-in">
        Hi there! I'm Lautaro Boffi
        </h1>
        <p class="hero-description">
        I am a Junior Backend developer with a passion for creating robust and scalable solutions. 
        I love to learn new technologies and improve my skills every day.
        </p>
    </div>
</div>
<div class="container">
    <div class="hero-content">
        <a href="about" class="main-button"> 
            See more About Me  
        </a>
    </div>
</div>
  

{% endblock %}